.about-section {
  background-image: linear-gradient(to bottom, $background_color, $blue-light-color);
  display: flex;

  @include max-break($tablet-break) {
    padding: 0 30px;
    height: fit-content;
  }
}

.about {
  padding: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include max-break($tablet-break) {
    padding: 1rem;
    flex-direction: column;
    justify-content: start;
  }

  &-content {
    max-width: 40%;

    &_title {
      color: $pink-color;
      text-shadow: -1px 0 $typography-color, 0 1px $typography-color, 1px 0 $typography-color, 0 -1px $typography-color;
      max-width: 30rem;
      text-align: justify;
      white-space: nowrap;
    }

    &_text {
      font-size: 18px;
      white-space: pre-line;

      @include max-break($tablet-break) {
        font-size: 15px;
      }

      a {
        text-decoration: underline;
        font-weight: bolder;
      }
    }

    @include max-break($tablet-break) {
      max-width: 100%;
      order: 0;
    }
  }

  &-image {
    margin-right: 2rem;
    width: 500px;
    height: 500px;
    background-image: url(",,/../../images/logo-lg.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: -.4em 0 2em $shadow-color;

    @include max-break($tablet-break) {
      width: 300px;
      height: 300px;
      order: 1;
      margin-top: 20px;
      margin-right: 0;
    }

    //@include max-break($mobile-break) {
    //  display: none;
    //}
  }
}