.intro-section {
  background-image: linear-gradient(to bottom, $background_color, $background_color);
}

.intro {
  height: 100%;
  position: static;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  margin: 0 0 0 3rem;
  font-family: $intro-font !important;

  &_header {
    cursor: default;
    font-size: 6.3rem;
    font-weight: normal;

    @include max-break($tablet-break) {
      font-size: 3rem;
    }
  }

  &_header-waving {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  &_header_letter {
    transition: all .2s ease-in-out;
  }

  &_header_letter:hover {
    font-size: 7rem;
    color: $blue-color !important;
    text-shadow: -1px 0 $typography-color, 0 1px $typography-color, 1px 0 $typography-color, 0 -1px $typography-color;

    @include max-break($tablet-break) {
      font-size: 3rem;
    }
  }

  &_header_letter-main {
    color: $pink-color !important;
    font-size: 1.2em;
    font-weight: 600;
    animation-duration: .6s;
    display: inline-block;
    text-shadow: -1px 0 $typography-color, 0 1px $typography-color, 1px 0 $typography-color, 0 -1px $typography-color;

    @include max-break($tablet-break) {
      display: inline;
    }
  }

  &_header_letter-main:hover {
    animation-name: rubberBand;
  }

  &_desc {
    font-size: 1.3rem;
    opacity: 75%;
  }

  &-button {
    font-family: $intro-font !important;
    width: max-content;
    font-size: 1.5rem;
    background-color: transparent;
    padding: .7rem 1.4rem .5rem;
    margin-right: 20px;
    border: 1px solid $pink-color;
    border-radius: 4px;
    color: $pink-color;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.4s ease-out 0s;
    display: inline-block;
    margin-top: 20px;
    transform: perspective(1px) translateZ(0);

    &:hover, &:focus {
      color: $typography-color;
    }
    &:active {
      transform: translateY(3px);
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $pink-color;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover::before, &:focus::before {
      transform: scaleX(1);
    }
  }

  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }

  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      transform: scale3d(.95, 1.05, 1);
    }

    75% {
      transform: scale3d(1.05, .95, 1);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}