.portfolio-section {
  //background-color: $background_color;
  height: fit-content;
  background-image: linear-gradient(to bottom, $pink-light-color, $background_color);

  @include max-break($tablet-break) {
    padding: 50px 100px;
  }

  @include max-break($mobile-break) {
    padding: 50px;
  }
}

.portfolio {
  padding: 50px;
  width: 100%;

  @include max-break($tablet-break) {
    padding: 0;
  }

  &-title {
    white-space: nowrap;
    color: $blue-color;
    text-shadow: -1px 0 $typography-color, 0 1px $typography-color, 1px 0 $typography-color, 0 -1px $typography-color;
  }

  &-desc {
    margin-top: 10px;
    font-size: 1.3rem;
    opacity: 75%;
  }

  &-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .project-cards {
    display: flex;
    flex-direction: column;
    width: 70rem;
  }
}

.card-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 70px;
  align-content: start;

  @include max-break($tablet-break) {
    gap: 1rem;
    flex-direction: column !important;
  }

  &-img {
    max-height: 16rem;
    max-width: 50%;
    margin: auto;

    @include max-break($tablet-break) {
      max-width: 100%;
    }

    @include max-break($mobile-break) {
      max-width: 100%;
      width: 100%;
    }
  }

  &-desc {
    &_title {
      font-size: 3rem;
      font-family: $intro-font;
      transition: all .1s ease-in-out;

      @include max-break($tablet-break) {
        font-size: 2rem;
      }

      svg {
        height: 3rem;
        width: 3rem;
        margin-bottom: -10px;
      }
    }

    &_text {
      white-space: pre-line;
      margin-top: 10px;
    }

    &_title:hover {
      color: $blue-color;
      text-decoration: underline;

      svg {
        height: 3rem;
        width: 3rem;
        margin-bottom: -10px;
      }
    }
  }
}