.skills-card {
  width: 70%;
  padding: 1rem;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  border-radius: 40px;

  @include max-break($tablet-break) {
    width: 100%;
    margin: 10px auto;
    padding: 0;
  }

  &_title {
    margin: 0 0 1rem;
    text-align: center;
    letter-spacing: 1px;
  }

  &_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    &_item {
      max-width: 6rem;
      display: flex;
      padding: .8rem;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      border-radius: 50%;
      box-sizing: border-box;
      border: 0;
      width: auto;
      margin: 0;

      img {
        width: 3rem;
        height: 3rem;
        margin-bottom: .7rem;

        @include max-break($tablet-break) {
          width: 2rem;
          height: 2rem;
        }
      }

      p {
        font-size: .8rem;
      }
    }

    @include max-break($tablet-break) {
      justify-content: center;
    }
  }
}