$background_color: #fffcfc;
$main_text-color: #1d1d1d;
$accent-color: #0883fd;
$pink-color: #ff7474;
$pink-light-color: #ffd7d7;
$blue-color: #6ad1f3;

$main-font: 'Roboto', sans-serif;

$menu_width: 6rem;

$mobile-break: 425px;
$tablet-break: 767px;